.modal {
  visibility: hidden;
  opacity: 0;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  gap: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: url("../images/close__btn.svg");
  border: none;
  cursor: pointer;
}

.modal__close-btn:hover {
  color: #212121;
  border: 2px;
  cursor: pointer;
}

.modal__submit-btn {
  width: 156px;
  height: 52px;
  top: 18px;
  right: 32px;
  bottom: 18px;
  left: 32px;
  gap: 8px;
  background-color: #212121;
  color: #fff;
  border: none;
}

.modal__submit-btn:hover {
  background-color: #212121;
  color: #fff;
  border-radius: 8px;
  padding: 18px 32px;
  gap: 8px;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  line-height: 100%;
  font-weight: 500;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
}

.modal__input {
  margin: 8px 0 0;
  font-size: 20px;
  height: 48px;
  width: 100%;
  box-sizing: border-box;
}

.modal__input:hover {
  max-width: 630px;
  border-radius: 8px;
  border: 1px;
  padding: 16px 12px;
  gap: 10px;
  cursor: pointer;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__button {
  font-size: 16px;
  line-height: 1;
  color: #fcf5e5;
  width: 100%;
  max-width: 156px;
  padding: 18px 0;
  background: #212121;
  border-radius: 8px;
  border: none;
  transition: 0.3s;
}

.modal__button:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.modal__container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
}

.modal__caption {
  color: #fff;
  background-color: #212121;
  width: 214px;
  height: 32px;
  padding: 4px 8px;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.modal__content {
  max-width: 738px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 16px;
  position: relative;
  padding: 36px 50px 32px;
}

@media screen and (max-width: 627px) {
  .modal__container {
    border-radius: 8px;
    padding: 12px;
    position: relative;
  }

  .modal__title {
    width: 276px;
    justify-content: space-between;
    margin: 0 0 12px;
    font-family: "poppins" Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  .modal__close-btn {
    width: 40px;
    height: 40px;
    top: 12px;
    right: 12px;
    border-radius: 8px;
    padding: 12px;
    background: url("../images/close_icon.svg");
  }

  .modal__submit-btn {
    width: 100%;
    height: 52px;
    border-radius: 8px;
    gap: 8px;
    background-color: #212121;
    color: #fff;
  }

  .modal__input {
    font-size: 16px;
  }
}
