.modal {
  visibility: hidden;
  opacity: 0;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  gap: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: url("../images/close_icon.svg");
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.modal__close-btn_type_preview {
  top: 0;
  right: -40px;
  background: url("../images/close-btn.svg");
}

.modal__submit-btn {
  width: 156px;
  height: 52px;
  top: 18px;
  right: 32px;
  bottom: 18px;
  left: 32px;
  border-radius: 8px;
  gap: 8px;
  background-color: #212121;
  color: #fff;
  border: none;
}

.modal__submit-btn:hover {
  background-color: #212121;
  color: #fff;
  border-radius: 8px;
  padding: 18px 32px;
  gap: 8px;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  line-height: 100%;
  font-weight: 500;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  display: block;
}

.modal__input {
  margin: 8px 0 0;
  font-size: 20px;
  height: 48px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  padding: 8px;
  box-sizing: border-box;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
  cursor: pointer;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__error {
  display: block;
  color: #ff0000;
  font-size: 16px;
  margin-top: 8px;
}

.modal__error_visible {
  visibility: visible;
}

.modal__button {
  font-size: 16px;
  line-height: 1;
  color: #fcf5e5;
  width: 100%;
  max-width: 156px;
  padding: 18px 0;
  background: #212121;
  border-radius: 8px;
  border: none;
  transition: 0.3s;
}

.modal__button:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.modal__button_disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  opacity: 0.6;
}

.modal__container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  font-size: 20px;
  color: #fff;
  background-color: #212121;
  width: fit-content;
  border-radius: 8px;
  padding: 8px;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.modal__close:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__content {
  max-width: 738px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 16px;
  position: relative;
  padding: 36px 50px 32px;
}

.modal__content_type_preview {
  padding: 0;
  max-width: 90vw;
  max-height: 90vh;
  width: fit-content;
}

@media screen and (max-width: 627px) {
  .modal__container {
    border-radius: 8px;
    padding: 12px;
    position: relative;
  }

  .modal__title {
    width: 276px;
    justify-content: space-between;
    margin: 0 0 12px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__submit-btn {
    width: 100%;
    height: 52px;
    border-radius: 8px;
    gap: 8px;
    background-color: #212121;
    color: #fff;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__image {
    max-width: 90vw;
    max-height: 90vh;
  }

  .modal__close-btn_type_preview {
    top: -40px;
    right: 0;
  }

  .modal__caption {
    font-size: 16px;
  }
}
