.modal {
  visibility: hidden;
  opacity: 0;
  background-color: #00000080;
  position: fixed;
  top: 32px;
  right: 50px;
  bottom: 32px;
  left: 50px;
  padding: 10px;
  gap: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: url("../images/close_icon.svg");
  border: none;
}

.modal__title {
  margin: 0 0 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
}

.modal__input {
  margin: 8px 0 0;
  width: 100%;
}

.modal__input::placeholder {
  color: #2121214d;
}

@media screen and (max-width: 627px) {
  .modal__title {
    margin: 0 0 32px;
    font-family: "poppins" Arial, Helvetica, sans-serif;
  }

  .modal__close-btn {
    top: 134px;
    left: 10px;
    border-radius: 8px;
    padding: 12px;
    gap: 24px;
    background: url("../images/close_icon.svg");
  }
}
